@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
   font-family: "Impact Regular";
   font-style: normal;
   font-weight: normal;
   src:
      local("Impact Regular"),
      url("assets/fonts/impact.woff") format("woff");
}
